#config docker compose 
MSSQL_SA_PASSWORD=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

#backend

ConnectionStrings__SQL=Data Source=sql-server;Initial Catalog=Managerment_Hotel;User ID=sa;Password=[Your password == MSSQL_SA_PASSWORD];Trust Server Certificate=True;

MvcJwt__Key=
MvcJwt__Issuer=
MvcJwt__Audience=
Jwt__Key=
Jwt__Issuer=
Jwt__Audience=

GoogleKeys__GoogleID=
GoogleKeys__GoogleSecret=
FaceBookKeys__FaceBookID=
FaceBookKeys__FaceBookSecret=

PayOS__ClientId=
PayOS__ApiKey=
PayOS__ChecksumKey=

Vnpay__TmnCode=
Vnpay__HashSecret=

RabbitMQ__Host=rabbitmq
RabbitMQ__UserName=
RabbitMQ__Password=
RabbitMQ__Queues__Email=email_queue

Redis__Connection=redis:6379
Redis__Enabled=false

Smtp__Host=
Smtp__Port=
Smtp__UserName=
Smtp__Password=
Smtp__FromName=

